/* HEADER */
header {
    border: 0;
    margin: 0;
    background: #ffffff;
    color: #F5751D;
}

header h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    margin-top: 96px;
    margin-bottom: 16px;
}

.bgTeam {
    background-color: #ffffff;
}

.col-team {
    max-width: 300px;
    max-height: 700px;
    /* width: 25%; */
    margin-bottom: 16px;
    margin-top: 16px;
    margin: auto;
}

.card {
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

  
.con-team {
    height: 200px;
    padding: 0;
}


.soc-med {
    color: rgb(200, 246, 255);
    text-shadow: 5px 5px 5px rgb(39, 48, 60);
    font-size: 1.5em;
}

.soc-med:hover {
    color: black;
}

.card > img {
    height: 350px;
}

.career-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
}

.career-link:hover {
    opacity: 0.8;
    color: red;
}

.sec-title {
    font-family: 'Patrick Hand', cursive;
    padding-top: 40px;
    padding-bottom: 20px;
}

.partner-icon img {
    width: 100px;
    height: 100px;
    margin-top: 16px;
    object-fit: cover;
}

.partner-icon {
    display: flex;
    justify-content: center;
}

.partnerImg {
    background-color: rgba(226, 227, 234, 0.784);
    border-radius: 1em;
}

/** <hr> **/

.hrImg {
    border: 2.5px solid white;
    background-color: white;
    opacity: 1;
    width: 60px;
    margin: 5px 0;
}

/** Hover Effect **/

  .card-info  {
    position: absolute;
    margin-right: 16px;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }

/** Card Background Color **/

.ourTeamImg {
    object-fit: cover;
    height: auto;
}

.bg-dave {
    background-color: #87366f;
}

.daveTxt {
    color: white;
    border-radius: 16px;
    padding: 8px 16px;
    margin-left: 8px;
}
    

.bg-edsel {
    background-color: #848e3d;
}

.edselTxt {
    color: white;
    border-radius: 16px;
    padding: 8px 16px;
    margin-left: 8px;
}

.bg-gab {
    background-color: #d18654;
}

.gabTxt {
    color: white;
    border-radius: 16px;
    padding: 8px 16px;
    margin-left: 8px;
}

.bg-kris {
    background-color: #c6738a;
}

.krisTxt {
    color: white;
    border-radius: 16px;
    padding: 8px 16px;
    margin-left: 8px;
}

@media only screen and (max-width: 720px) {
    /* .col-ceo {
        width: 100%;
        display: block;
    } */
    /* .col-team {
        width: 100%;
        display: block;
    } */
}

@media all and (max-width: 576px) {
    .partner-icon img {
        width: 60px;
        height: 60px;
    }
}