/* BODY */

/* TEXT PORTION */
.elem-text {
    background: #ff791d;
    padding: 32px 32px;
    color: white;
    max-width: 400px;
}

.high-text {
    background: #a172f1;
    padding: 32px 32px;
    color: white;
    max-width: 400px;
}

.elem-list, .high-list {
    font-weight: bold;
}

.elem-list2, .high-list2 {
    font-weight: normal;
    font-style: italic;
}

/* IMAGE PORTION */
.elem-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.high-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .elem-text {
        background: #ff791d;
        padding: 32px 32px;
        color: white;
        max-width: 100%;
    }
    
    .high-text {
        background: #1a3947;
        padding: 32px 32px;
        color: white;
        max-width: 100%;
    }
}

/** CSS FOR BUTTONS **/

/* BUTTON1 */
.button1 {
	font-size: 20px;
	padding: 5px 20px;
    margin: 10px;
	border: 0;
	cursor: pointer;
	color: black;
	border-radius: 10px;
	display: inline-block;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
}

.button1::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.button1.gradient:hover {
	color: white;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
	transform: translateY(-5px);
}

/* BUTTON-ELEM */

.button-elem {
	background: #fff;
	transform: perspective(1px) translateZ(0);
	color: black;
	transition: 0.4s;
}

.button-elem a {
	color: black;
}

.button-elem a:hover {
	color: rgb(255, 255, 255);
}

.button-elem::before {
	background: rgb(255, 90, 20);
	clip-path: inset(0 100% 0 0);
	opacity: 1;
	transition: 0.4s;
}

.button-elem:hover::before {
	clip-path: inset(0 0 0 0);
}

.button-elem:hover {
	color: white;
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}