:root {
  --color-1: #7053c9;
  --color-2: #b7a2f6;
  --color-3: #797983;
  --color-4: #EFBD9D;
  --color-5: #FCA26E;
  --color-6: #F5751D;
  --white: #ffffff;
  --black: #000000;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --facebook: #3b5998;
  --twitter: #55acce;
  --instagram: #e93b81;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background: rgb(121, 105, 197);
  z-index: 999;
}

.navbar-brand {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
}

.nav-item {
  padding-left: 0;
}

.nav-link {
  color: var(--white);
  font-weight: 500;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--color-6);
  transition: 0.3s;
}

.btn-1 {
  background-color: var(--color-5);
  color: var(--black);
  padding: 8px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.btn-1:hover {
  color: var(--black);
  transition: 0.3s;
  background-color: var(--color-4);
}

.btnHero {
  background-color: var(--color-6);
  color: var(--black);
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  margin: 0 auto;
}

.btnHero:hover {
  transition: 0.3s;
  transition: 0.3s;
  background-color: var(--color-1);
}

.navbar .nav-item .nav-link {
  position: relative;
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-6);
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

/* --------------Modal Log/Sign Section------------------ */

/* modal */

.modal-body .log-icon a {
  color: var(--color-1);
}

.modal-body .log-icon i {
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.modal-body .log-icon i:hover {
  color: var(--color-6)
}

/* --------------Hero Section------------------ */

.heroImg {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  height: 600px;
  background-color: rgb(212, 228, 255);
}

.main {
  /* background: url(./images/jj.png)no-repeat; */
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.hero .hero-text img {
  margin: 0 0 30px;
}

.main h1 {
  font-size: 4rem;
  font-weight: 700;
}

.main p {
  font-size: 1.5rem;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--color-6);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.section-title h2 span {
  color: var(--color-1);
}


/* --------------Footer------------------ */

.footer-section {
  background-image: linear-gradient(to right top, #d4bbed, #caafe8, #bfa3e4, #b497df, #a88bdb, #aa8cdc, #ad8dde, #af8edf, #bf9ce6, #ceaaed, #ddb8f4, #ebc7fc);
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid var(--color-6);
}

.single-cta {
  color: var(--black);
  font-size: 30px;
  float: left;
  margin-top: 5px;
}

.single-cta i {
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 20px;
  color: var(--black);
  border: 1px solid var(--white);
  text-align: center;
  line-height: 38px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  color: var(--black);
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
}

.footer-social-icon span {
  color: var(--black);
  margin-bottom: 15px;
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.footer-social-icon a {
  color: var(--white);
  margin-bottom: 15px;
  font-size: 20px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: var(--facebook);
}

.discord-bg {
  background: var(--facebook);
}

.instagram-bg {
  background: var(--instagram);
}

.twitter-bg {
  background: var(--twitter);
}

.pinterest-bg {
  background: red;
}

.footer-widget-heading h3 {
  color: var(--black);
  position: relative;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 150px;
  background-color: var(--color-6);
}

.footer-widget ul li {
  color: var(--black);
  display: inline-block;
  width: 50%;
  margin-bottom: 15px;
}

.footer-widget ul li a {
  color: var(--black);
  text-transform: capitalize;
}

.footer-widget ul li a:hover {
  color: var(--color-6);
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  outline: none;
  width: 100%;
  padding: 15px 30px;
  background: var(--white);
  border: 1px solid var(--color-6);
  color: var(--black);
}

.subscribe-form button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background: var(--color-6);
  border: 1px solid var(--color-6);
}

.subscribe-form button i {
  color: var(--white);
  font-size: 20px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: var(--white);
  padding: 25px 0;
}

.copyright-text p {
  color: var(--black);
  margin: 0;
  font-size: 20px;
}

.copyright-text p a {
  color: var(--color-6);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li a {
  color: var(--black);
  font-size: 20px;
}

.footer-menu li a:hover {
  color: var(--color-6);
}

/** Added CSS by Gab **/

.heroDiv h1 {
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 8px;
}

.heroDiv p {
  font-family: 'Patrick Hand', cursive;
}