/* BUTTON1 */
.button1 {
	font-size: 20px;
	padding: 5px 20px;
    margin: 10px;
	border: 0;
	cursor: pointer;
	color: black;
	border-radius: 10px;
	display: inline-block;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
}

.button1::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.button1.gradient:hover {
	color: white;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
	transform: translateY(-5px);
}

/* BUTTON-ELEM */
.button-elem {
	background: #fff;
	transform: perspective(1px) translateZ(0);
	color: black;
	transition: 0.4s;
}

.button-elem::before {
	background: rgb(255, 90, 20);
	clip-path: inset(0 100% 0 0);
	opacity: 1;
	transition: 0.4s;
}

.button-elem:hover::before {
	clip-path: inset(0 0 0 0);
}

.button-elem:hover {
	color: white;
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}

/* BUTTON-HIGH */
.button-high {
	background: white;
	color: black;
	transform: perspective(1px) translateZ(0);
	transition: 0.4s;
}

.button-high::before {
	background: rgb(20, 120, 255);
	clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
	opacity: 1;
	transition: 0.4s;
}

.button-high:hover::before {
	clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
}

.button-high:hover {
	color: white;
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}