/* HEADER */
header {
    border: 0;
    margin: 0;
    background: #ffffff;
    color: #F5751D;
}

header h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    margin-top: 96px;
    margin-bottom: 16px;
}

/* BODY */

/* TEXT PORTION */
.elem-text {
    background: #ff791d;
    padding: 32px 32px;
    color: white;
    max-width: 400px;
}

.high-text {
    background: #1a3947;
    padding: 32px 32px;
    color: white;
    max-width: 400px;
}

.elem-list, .high-list {
    font-weight: bold;
}

.elem-list2, .high-list2 {
    font-weight: normal;
    font-style: italic;
}

/* IMAGE PORTION */
.elem-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.high-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .elem-text {
        background: #ff791d;
        padding: 32px 32px;
        color: white;
        max-width: 100%;
    }
    
    .high-text {
        background: #1a3947;
        padding: 32px 32px;
        color: white;
        max-width: 100%;
    }
}


